
.calendar-month-grid {
  // where to style the ion datetime to make it look like you need
  background: var(--ion-color-secondary) !important;

  background: cadetblue;



}

.habitsList{
  max-height: 25vh;
  overflow-y: scroll;
}

