<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="month">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Month</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="week">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Week</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="day">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Day</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ai">
      <ion-icon name="analytics-outline"></ion-icon>
      <ion-label>Analytics</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="grid">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Grid View</ion-label>
    </ion-tab-button>
    <ion-ripple-effect></ion-ripple-effect>
  </ion-tab-bar>
</ion-tabs>
